<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Card info</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" href="index.html">MyBlog</a>
        <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Python" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Найти</button>
        </form>
    </div>
</nav>

<div class="container">

    <div class="card mt-5">
        <div class="card-body">
            <h1 class="card-title text-center">Card title</h1>
            <p class="card-text mt-3 ms-3" style="font-size: 1.2em">Python — это высокоуровневый язык программирования общего назначения, который
                используется в том числе и для разработки веб-приложений. Язык ориентирован на повышение
                производительности разработчика и читаемости кода.

                Правильное русское произношение названия языка программирования — Пайтон, но чаще используется
                искажённое — Питон.

                Python поддерживает несколько парадигм программирования: структурное, объектно-ориентированное,
                функциональное, императивное и аспектно-ориентированное. В языке присутствет динамическая типизация,
                автоматическое управление памятью, полная интроспекция, механизм обработки исключений, поддержка
                многопоточных вычислений и удобные высокоуровневые структуры данных. Программный код на Python
                организовывается в функции и классы, которые могут объединяться в модули, а они в свою очередь могут
                быть объединены в пакеты. Python обычно используется как интерпретируемый, но может быть скомпилирован в
                байт-код Java и в MSIL (в рамках платфоры .NET). </p>
        </div>
    </div>

    <h1 class="mt-5"> Комментарии </h1>

    <div class="card mt-3">
        <div class="card-body">
            Some comment
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            Some comment
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            Some comment
        </div>
    </div>

    <a class="btn btn-primary mt-3" href="write_comment.html" role="button">Оставить комментарий</a>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

</body>
</html>