{% extends 'base.html' %}
{% from 'macros/back_to_posts.html' import back_to_posts_page %}

{% block title %}
    Add post
{% endblock %}

{% block content %}
{#    <div>#}
{#        <a href="{{ url_for("list") }}">#}
{#            Go back#}
{#        </a>#}
{#    </div>#}

    <h1>Write comment here</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        <div>
            {{ form.text.label }}
            {{ form.text(class="form-control") }}
        </div>
<br>
    <input type="submit" value="Save" class="btn btn-primary mt-3">
    </form>

{% endblock %}
